.MuiButton-contained{
    background-color:#fab719 !important;
}
.MuiButton-contained:hover{
    background-color:#247dd0 !important;
}

.MuiFab-primary{
    background-color:#fab719 !important;
}
.MuiFab-primary:hover{
    background-color:#247dd0 !important;
}
@media only screen and (orientation:landscape){ 
    .mapa {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
    }