.MuiButton-contained{
    background-color:#fab719 !important;
}
.MuiButton-contained:hover{
    background-color:#247dd0 !important;
}

.MuiFab-primary{
    background-color:#fab719 !important;
}
.MuiFab-primary:hover{
    background-color:#247dd0 !important;
}

.generador {
    text-align: center !important;
    align-content: center;
}

#descarga > div {
    display: flex;
    justify-content: center;
    text-align: center;
}